{% extends 'base.html.twig' %}

{% block title %}{{ blog.titre }} - Edition{% endblock %}

{% block body %}
    <h1>Edition de : {{ blog.titre }}</h1>

    {{ include('blog/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_blog_index') }}" class="action-link">Retour au blog</a>

    {{ include('blog/_delete_form.html.twig') }}
{% endblock %}
