{% extends 'base.html.twig' %}

{% block title %}Index des articles{% endblock %}

{% block body %}
{% include 'article/search.html.twig' %}
    <h1>Index des articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="col-num">ID</th>
                <th class="col-title">Titre</th>
                <th class="col-category">Catégories</th>
                <th class="col-content">Contenu de l'article</th>
                <th class="col-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td class="col-title">{{ article.title }}</td>
                <td>
                    {% if article.Category.name is defined %}
                        {{ article.Category.name }}
                    {% endif %}
                </td>
                <td>{{ article.content }}</td>
                <td  class="col-actions">
                        <a href="{{ path('article_show', {'id': article.id}) }}" class="action-link">Voir</a>
                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="action-link">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun article disponible.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}" class="create-new-link">Créer un article</a>
{% endblock %}
