{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
    <h1>Résultats de la recherche</h1>

    {% if articles is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Contenu</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.category.name }}</td>
                        <td>{{ article.content }}</td>
                        <td>
                            <a href="{{ path('article_show', {'id': article.id}) }}">Voir</a>
                            <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun article trouvé pour la recherche "{{ query }}".</p>
    {% endif %}
{% endblock %}