{% extends 'base.html.twig' %}

{% block title %}Search results{% endblock %}

{% block body %}
{% include 'article/search.html.twig' %}
    <h1>Search results for "{{ query }}"</h1>

    {% if articles is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Content</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.category.name }}</td>
                        <td>{{ article.content }}</td>
                        <td>
                            <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                            <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No articles found for the search "{{ query }}".</p>
    {% endif %}

    <a href="{{ path('article_index') }}">Back to list</a>
{% endblock %}