{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}
{% include 'article/search.html.twig' %}
    <h1>Résultats de recherche pour "{{ query }}"</h1>

    {% if articles is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Contenu</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.category.name }}</td>
                        <td>{{ article.content }}</td>
                        <td>
                            <a href="{{ path('article_show', {'id': article.id}) }}" class="action-link">Voir</a>
                            <a href="{{ path('article_edit', {'id': article.id}) }}" class="action-link">Éditer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="results-error">Aucun article ne correspond à la recherche "{{ query }}".</p>
    {% endif %}

    <a href="{{ path('article_index') }}" class="action-link">Retour à l'index</a>
{% endblock %}